/* line 17, ../../../app/stylesheets/screen.scss */
.container {
  width: 710px;
}

/* line 31, ../../../app/stylesheets/screen.scss */
body {
  background: #ffffcc;
}

/* line 38, ../../../app/stylesheets/screen.scss */
header {
  padding-top: 20px;
}
/* line 41, ../../../app/stylesheets/screen.scss */
header img {
  padding: 1em;
  background: #fff;
}

/* line 47, ../../../app/stylesheets/screen.scss */
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}
/* line 53, ../../../app/stylesheets/screen.scss */
section h1 {
  font-size: 200%;
}

/* Links */
/* line 60, ../../../app/stylesheets/screen.scss */
a {
  color: #09c;
  text-decoration: none;
}
/* line 64, ../../../app/stylesheets/screen.scss */
a:hover {
  color: #069;
  text-decoration: underline;
}
/* line 69, ../../../app/stylesheets/screen.scss */
a:visited {
  color: #069;
}

/* Navigation */
/* line 76, ../../../app/stylesheets/screen.scss */
nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 82, ../../../app/stylesheets/screen.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 86, ../../../app/stylesheets/screen.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 91, ../../../app/stylesheets/screen.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  opacity: .7;
  -moz-transition: height 1s ease-out, opacity 2s ease;
  -webkit-transition: height 2s ease-out, opacity 2s ease;
  -o-transition: height 1s ease-out, opacity 1s ease;
  transition: height 1s ease-out, opacity 1s ease;
}
/* line 101, ../../../app/stylesheets/screen.scss */
nav ul li a:hover {
  text-decoration: none;
  opacity: 1;
}
/* line 106, ../../../app/stylesheets/screen.scss */
nav ul li a:visited {
  color: #09c;
}

/* Sign up button */
/* line 116, ../../../app/stylesheets/screen.scss */
a.signup_button {
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #749a02;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  opacity: .6;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 133, ../../../app/stylesheets/screen.scss */
a.signup_button:hover {
  opacity: 1;
  color: #eee;
}

/* Round corners */
/* line 142, ../../../app/stylesheets/screen.scss */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 147, ../../../app/stylesheets/screen.scss */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

/* line 155, ../../../app/stylesheets/screen.scss */
footer nav {
  float: none;
}
