%h1 Pages#about
%p Find me in app/views/pages/about.html.haml

Fred Schoeneman, CEO, Co-Founder
We spend our lives learning.

Back in the 80's, I learned about construction watching my dad build affordable housing in Oakland. I learned about putting other people first from my Mom, who worked long hours as a secretary to put me through high school. I learned about trust – and being worthy of the trust my fellow line dogs placed in me – while serving as an infantryman at Second Ranger Battalion. And I learned some things at Stanford University, too.

But the thing I learned most from was a failure.

Back in 2003, my brother and I bought a small dump truck company. We worked hard, were fair to our clients, and tried to pay our subhaulers on time. We had high hopes but also some bad luck, and trusted some people we shouldn't have – disreputable clients who never payed us what they owed. Contractors who more experienced dump truckers knew not to deal with.

After losing two years and $200,000 we sold our trucks and moved on.

I learned how depressing it can be to get cheated, how stressful it is to fall behind on your bills. And it taught me how painful it is when you have to let employees go through no fault of their own.

The idea for PonyProof was born of long reflections on success, failure, trust, reputation, and relationships. You work with subcontractors who've earned your trust, and for clients when you've earned theirs. You buy insurance from agents you trust – and insurance agents write policies for companies they trust to pay attention to safety.

On the surface, PonyProof is a practical, easy way to get proof of insurance from your subs and send it to your clients, and then manage it over time. But it's deeper than that. My vision for PonyProof is to help establish trust between you, your clients, your subcontractors, and your insurance agents. If you have suggestions on how we can do this better, email me directly at fred@ponyproof.com. And please, if you're confused by anything or have a question, even if you think it's a stupid one, just give me a call at (415) 873-3892.

Because I'm still learning, remember?

