%h1 Pages#terms
%p Find me in app/views/pages/terms.html.haml

Terms of Service
Last Updated on July 21, 2010

These terms and conditions (the "Terms of Service") govern your access to and use of Yelp's websites and mobile applications that link to or reference these Terms of Service (collectively, the "Service"). By accessing or using the Service, you are agreeing to these Terms of Service and concluding a legally binding contract with Yelp! Inc. ("Yelp"). Do not access or use the Service if you are unwilling or unable to be bound by the Terms of Service.

DEFINITIONS
Parties
"You" and "your" refer to you, as a user of the Service. A "user" is someone who accesses, browses, crawls, scrapes, or in any way uses the Service. "We", "us", and "our" refer to Yelp.

Content
"Content" means text, images, photos, audio, video, location data, and all other forms of data or communication. "Your Content" means Content that you submit or transmit to, through, or in connection with the Service, such as ratings, reviews, compliments, invitations, check-ins, messages, and information that you publicly display or displayed in your account profile. "User Content" means Content that users submit or transmit to, through, or in connection with the Service. "Yelp Content" means Content that we create and make available in connection with the Service. "Third Party Content" means Content that originates from parties other than Yelp or its users, which is made available in connection with the Service. "Site Content" means all of the Content that is made available in connection with the Service, including Your Content, User Content, Third Party Content, and Yelp Content.

CHANGES TO THE TERMS OF SERVICE
We may modify the Terms of Service from time to time. When changes are made, we will notify you by making the revised version available on this webpage, and will indicate at the top of this page the date that revisions were last made. You should revisit these Terms of Service on a regular basis as revised versions will be binding on you. Any such modification will be effective upon our posting of new Terms of Service. You understand and agree that your continued access to or use of the Service after any posted modification to the Terms of Service indicates your acceptance of the modification.

TRANSLATION
We may translate these Terms of Service into other languages for your convenience. Nevertheless, the English version governs your relationship with Yelp, and any inconsistencies among the different versions will be resolved in favor of the English version.

USING THE SERVICE
Eligibility
To access or use the Service, you must be 18 years or older and have the requisite power and authority to enter into these Terms of Service. You may not access or use the Service if you are a competitor of ours or if we have previously banned you from the Service or closed your account.

Permission to Use the Service
We grant you permission to use the Service subject to the restrictions in these Terms of Service. Your use of the Service is at your own risk, including the risk that you might be exposed to Content that is offensive, indecent, inaccurate, objectionable, or otherwise inappropriate.

Site Availability
The Service may be modified, updated, interrupted, suspended or discontinued at any time without notice or liability.

User Accounts
You must create an account and provide certain information about yourself in order to use some of the features that are offered through the Service. You are responsible for maintaining the confidentiality of your account password. You are also responsible for all activities that occur in connection with your account. You agree to notify us immediately of any unauthorized use of your account. We reserve the right to close your account at any time for any or no reason.

There are two types of accounts:

A "Personal Account" is an account for your personal, non-commercial use only. In creating a Personal Account, we ask that you provide complete and accurate information about yourself to bolster your credibility as a contributor to the Service. You may not impersonate someone else (e.g., adopt the identity of a celebrity or your next-door neighbor), create or use an account for anyone other than yourself, provide an email address other than your own, or create multiple Personal Accounts. If you use a pseudonym, take care to note that others may still be able to identify you if, for example, you include identifying information in your reviews, use the same account information on other sites, or allow other sites to share information about you with Yelp. Please read our Privacy Policy for more information.

A "Business Account" is an account to be used solely for the purpose of representing your business in connection with the Service. In creating or updating a Business Account, you must be an authorized representative of the business in question, and you must provide complete and accurate information about yourself and the business you represent, including an unobstructed photo of yourself to be displayed in connection with your Business Account. You may not provide an email address that is not your own. If you are no longer an authorized representative of the business in question, you must close your Business Account immediately.

Communications from Yelp and other Users
By creating an account, you agree to receive certain communications in connection with the Service. For example, you might receive compliments or friend requests from other Users. You will also receive our weekly e-mail newsletter about happenings in your neighborhood. You can opt-out of non-essential communications here

CONTENT
Responsibility for Your Content
You alone are responsible for Your Content, and once published, it cannot always be withdrawn. You assume all risks associated with Your Content, including anyone's reliance on its quality, accuracy, or reliability, or any disclosure by you of information in Your Content that makes you personally identifiable. You represent that you own, or have the necessary permissions to use and authorize the use of Your Content as described herein. You may not imply that Your Content is in any way sponsored or endorsed by Yelp.

You may expose yourself to liability if, for example, Your Content contains material that is false, intentionally misleading, or defamatory; violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms minors; or violates or advocates the violation of any law or regulation.

Our Right to Use Your Content
We may use Your Content in a number of different ways, including publicly displaying it, reformatting it, incorporating it into advertisements and other works, creating derivative works from it, promoting it, distributing it, and allowing others to do the same in connection with their own websites and media platforms ("Other Media"). As such, you hereby irrevocably grant us world-wide, non-exclusive, royalty-free, sublicensable, transferable rights to use Your Content for any purpose. You also irrevocably grant the users of the Service and any Other Media the right to access Your Content in connection with their use of the Service and any Other Media. Finally, you irrevocably waive, and cause to be waived, against Yelp and its users any claims and assertions of moral rights or attribution with respect to Your Content. By "use" we mean use, copy, publicly perform or display, distribute, modify, translate, and create derivative works of Your Content.

Ownership
As between you and Yelp, you own Your Content. We own the Yelp Content, including but not limited to visual interfaces, interactive features, graphics, design, compilation, computer code, products, software, aggregate user review ratings, and all other elements and components of the Service excluding Your Content, User Content and Third Party Content. We also own the copyrights, trademarks, service marks, trade names, and other intellectual and proprietary rights throughout the world (the "IP Rights") associated with the Yelp Content and the Service, which are protected by copyright, trade dress, patent, trademark laws and all other applicable intellectual and proprietary rights and laws. As such, you may not modify, reproduce, distribute, create derivative works or adaptations of, publicly display or in any way exploit any of the Yelp Content in whole or in part except as expressly authorized by us. Except as expressly and unambiguously provided herein, we do not grant you any express or implied rights, and all rights in and to the Service and the Yelp Content are retained by us.

Advertising
Yelp and its licensees may publicly display advertisements and other information adjacent to or included with Your Content. You are not entitled to any compensation for such advertisements. The manner, mode and extent of such advertising are subject to change without specific notice to you.

Content Feeds
We make some of the Site Content (the "Feed Content") available via Real Simple Syndication and Atom feeds (the "Feeds"). You may access and use the Feeds in order to display Feed Content on your personal computer, website, or blog ("Your Site"), provided that (i) your use of the Feeds is for personal, non-commercial purposes only, (ii) your display of the Feed Content links back to the relevant pages on Yelp's websites, and attributes Yelp as the source of the Feed Content, (iii) your use or display of the Feed Content does not suggest that Yelp promotes or endorses any third party causes, ideas, websites, products or services, including Your Site, (iv) you do not redistribute the Feed Content, and (v) your use of the Feeds does not overburden Yelp's systems. Yelp reserves all rights in the Feed Content and may terminate the Feeds at any time. Please select "Partnerships" on our contacts page here to inquire about other possible uses of the Feeds.

Other
We reserve the right to remove, screen, edit, or reinstate User Content from time to time at our sole discretion and without notice to you. For example, we may remove a review if we believe it violates our Content Guidelines. We have no obligation to retain or provide you with copies of Your Content, nor do we guarantee any confidentiality with respect to Your Content.

RESTRICTIONS
We are under no obligation to enforce the Terms of Service on your behalf against another user. While we encourage you to let us know if you believe another user has violated the Terms of Service, we reserve the right to investigate and take appropriate action at our sole discretion.

You agree not to, and will not assist or enable others to use the Service to:
Violate our Content Guidelines, for example, by writing a fake or defamatory review, trading reviews with other businesses, or writing a review that you were paid for either directly or indirectly by the business being reviewed;
Violate any third party's rights, including any breach of confidence, copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right;
Threaten, stalk, harm, or harass others, or promote bigotry or discrimination;
Promote a business or other commercial venture or event, or otherwise use the Service for commercial purposes, except in connection with a Business Account and as expressly permitted by Yelp;
Send bulk emails, surveys, or other mass messaging, whether commercial in nature or not; engage in keyword spamming, or otherwise attempt to manipulate the Service's search results or any third party website;
Solicit personal information from minors, or submit or transmit pornography; or
Violate any applicable law.
You also agree not to, and will not assist or enable others to:
Violate the Terms of Service;
Modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or adaptations of, publicly display, sell, trade, or in any way exploit the Service or Site Content (other than Your Content), except as expressly authorized by Yelp;
Use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve, scrape, or index any portion of the Service or any Site Content;
Reverse engineer any portion of the Service;
Remove or modify any copyright, trademark or other proprietary rights notice that appears on any portion of the Service or on any materials printed or copied from the Service;
Record, process, or mine information about other users;
Access, retrieve or index any portion of the Service for purposes of constructing or populating a searchable database of business reviews;
Reformat or frame any portion of the Service;
Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on Yelp's technology infrastructure or otherwise make excessive traffic demands of the Service;
Attempt to gain unauthorized access to the Service, user accounts, computer systems or networks connected to the Service through hacking, password mining or any other means;
Use the Service or any Site Content to transmit any computer viruses, worms, defects, Trojan horses or other items of a destructive nature (collectively, "Viruses");
Use any device, software or routine that interferes with the proper working of the Service, or otherwise attempt to interfere with the proper working of the Service;
Use the Service to violate the security of any computer network, crack passwords or security encryption codes; disrupt or interfere with the security of, or otherwise cause harm to, the Service or Site Content; or
Remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Service, features that prevent or restrict the use or copying of Site Content, or features that enforce limitations on the use of the Service.
The restrictions above only apply to the extent permissible under applicable law. Nevertheless, you agree not to act contrary to them (even if permissible under applicable law) without providing 30 days' prior written notice to us here, together with any information that we may reasonably require to give us an opportunity to provide alternative remedies or otherwise accommodate you at our sole discretion.

GUIDELINES AND POLICIES
Content Guidelines
You represent that you have read and understood our Content Guidelines.

Privacy
You represent that you have read and understood our Privacy Policy. Note that we may disclose information about you to third parties if we have a good faith belief that such a disclosure is reasonably necessary to (i) take action regarding suspected illegal activities; (ii) enforce or apply our Terms of Service and Privacy Policy; (iii) comply with legal process or other government inquiry, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process served on us; or (iv) protect our rights, reputation, and property, or that of our users, affiliates, or the public. If you use the Service outside of the United States, you consent to having your personal data transferred to and processed in the United States.

Copyright And Trademark Disputes
Please see our Infringement Policy for information about copyright and trademark disputes.

SUGGESTIONS AND IMPROVEMENTS
By sending us any ideas, suggestions, documents or proposals ("Feedback"), you agree that (i) your Feedback does not contain the confidential or proprietary information of third parties, (ii) we are under no obligation of confidentiality, express or implied, with respect to the Feedback, (iii) we may have something similar to the Feedback already under consideration or in development, and (iv) you grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify, publish, distribute and sublicense the Feedback.

THIRD PARTIES
The Service may include links to other websites or applications (each, a "Third Party Site"). We do not control or endorse any Third Party Site. You agree that we are not responsible for the availability or contents of such Third Party Sites. Your use of Third Party Sites is at your own risk.

Some of the services made available through the Service are provided in connection with third parties and subject to additional terms posted here which are incorporated herein by reference.

INDEMNITY
You agree to indemnify and hold Yelp, its parents, subsidiaries, affiliates, any related companies, suppliers, licensors and partners, and the officers, directors, employees, agents and representatives of each of them harmless, including costs, liabilities and legal fees, from any claim or demand made by any third party due to or arising out of (i) your access to or use of the Service, (ii) your violation of the Terms of Service, or (iii) the infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. Yelp reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims. You agree not to settle any matter without the prior written consent of Yelp. Yelp will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.

DISCLAIMERS AND LIMITATIONS OF LIABILITY
PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE LIABILITY OF YELP AND ITS SUBSIDIARIES, AFFILIATES, AND LICENSORS (COLLECTIVELY, THE "YELP ENTITIES"). EACH OF THE SUBSECTIONS BELOW ONLY APPLIES UP TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW. NOTHING HEREIN IS INTENDED TO LIMIT ANY RIGHTS YOU MAY HAVE WHICH MAY NOT BE LAWFULLY LIMITED.

THE SERVICE AVAILABLE IS MADE AVAILABLE TO YOU ON AN "AS IS" BASIS. YOUR USE OF THE SERVICE IS AT YOUR OWN DISCRETION AND RISK.

THE YELP ENTITIES MAKE NO CLAIMS OR PROMISES ABOUT THE CONDUCT OF THIRD PARTIES. ACCORDINGLY, THE YELP ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE FROM THEIR ACTIONS, INCLUDING, FOR EXAMPLE, IF ANOTHER USER MISUSES YOUR CONTENT OR IDENTITY, OR IF YOU HAVE A NEGATIVE EXPERIENCE WITH ONE OF THE BUSINESSES LISTED ON THE SERVICE.

THE YELP ENTITIES MAKE NO CLAIMS OR PROMISES ABOUT THE QUALITY, ACCURACY, OR RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, AND REVIEWS, OR THE SAFETY OR SECURITY OF THE SERVICE. ACCORDINGLY, THE YELP ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE FROM YOUR RELIANCE ON THE QUALITY, ACCURACY, OR RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, OR REVIEWS, OR THE SAFETY OR SECURITY OF THE SERVICE.

THE YELP ENTITIES EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.

YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE SERVICE OR ANY OTHER GRIEVANCE SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE SERVICE.

THE YELP ENTITIES' MAXIMUM AGGREGATE LIABILITY TO YOU FOR LOSSES OR DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE SERVICE OR THESE TERMS OF SERVICE IS LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU TO THE YELP ENTITIES IN CONNECTION WITH THE SERVICE IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (ii) $100.

THE YELP ENTITIES DISCLAIM ALL LIABILITY FOR ANY (i) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL DAMAGES, (ii) LOSS OF PROFITS, (iii) BUSINESS INTERRUPTION, (iv) LOSS OF OR DAMAGE TO REPUTATION OF YELP OR ANY THIRD PARTY, OR (v) LOSS OF INFORMATION OR DATA.

CHOICE OF LAW AND VENUE
California law will govern these Terms, as well as any claim, cause of action or dispute that might arise between you and Yelp (a "Claim"), without regard to conflict of law provisions. FOR ANY CLAIM BROUGHT BY EITHER PARTY, YOU AGREE TO SUBMIT AND CONSENT TO THE PERSONAL AND EXCLUSIVE JURISDICTION IN, AND THE EXCLUSIVE VENUE OF, THE STATE AND FEDERAL COURTS LOCATED WITHIN SAN FRANCISCO COUNTY, CALIFORNIA.

TERMINATION
You may terminate the Terms of Service at any time by closing your account, discontinuing your use of the Service, and providing Yelp with a notice of termination here. If you close your account, we may continue to display Your Content where it implicates other users (e.g., compliments that you have sent to other users and comments that you have posted to Yelp Talk).

We may close your account, suspend your ability to use certain portions of the Service, and/or ban you altogether from the Service for any or no reason, and without notice or liability of any kind. Any such action could prevent you from accessing your account, the Service, Your Content, Site Content, or any other related information.

In the event of any termination, whether by you or us, Sections 1, 5, 6, 10 - 14 of these Terms of Service will continue in full force and effect, including our right to use Your Content as detailed in Section 5.

GENERAL TERMS
We reserve the right to modify, update, or discontinue the Service at our sole discretion, at any time, for any or no reason, and without notice or liability.
We may provide you with notices, including those regarding changes to the Terms of Service by email, regular mail or communications through the Service.
Except as otherwise stated in Section 9 above, nothing herein is intended, nor will be deemed, to confer rights or remedies upon any third party.
The Terms of Service contain the entire agreement between you and us regarding the use of the Service, and supersede any prior agreement between you and us on such subject matter. The parties acknowledge that no reliance is placed on any representation made but not expressly contained in these Terms of Service.
Any failure on Yelp's part to exercise or enforce any right or provision of the Terms of Service does not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
If any provision of the Terms of Service is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that the Terms of Service shall otherwise remain in full force and effect and enforceable.
The Terms of Service are not assignable, transferable or sublicensable by you except with Yelp's prior written consent, but may be assigned or transferred by us without restriction. Any assignment attempted to be made in violation of the Terms of Service shall be void.
The section titles in the Terms of Service are for convenience only and have no legal or contractual effect.



CRAIGSLIST TERMS OF USE


1. ACCEPTANCE OF TERMS

craigslist provides a collection of online resources, including classified
ads, forums, and various email services, (referred to hereafter as "the
Service") subject to the following Terms of Use ("TOU"). By using the Service
in any way, you are agreeing to comply with the TOU. In addition, when using
particular craigslist services, you agree to abide by any applicable posted
guidelines for all craigslist services, which may change from time to time.
Should you object to any term or condition of the TOU, any guidelines,
or any subsequent modifications thereto or become dissatisfied with craigslist
in any way, your only recourse is to immediately discontinue use of craigslist.
craigslist has the right, but is not obligated, to strictly enforce the TOU
through self-help, community moderation, active investigation, litigation and
prosecution.


2. MODIFICATIONS TO THIS AGREEMENT

We reserve the right, at our sole discretion, to change, modify or otherwise
alter these terms and conditions at any time.  Such modifications shall become
effective immediately upon the posting thereof. You must review this agreement
on a regular basis to keep yourself apprised of any changes. You can find the
most recent version of the TOU at:

http://www.craigslist.org/about/terms.of.use.html


3. CONTENT

You understand that all postings, messages, text, files, images, photos,
video, sounds, or other materials ("Content") posted on, transmitted
through, or linked from the Service, are the sole responsibility of the
person from whom such Content originated. More specifically, you are
entirely responsible for each individual item ("Item") of Content that you
post, email or otherwise make available via the Service. You understand that
craigslist does not control, and is not responsible for Content made available
through the Service, and that by using the Service, you may be exposed to
Content that is offensive, indecent, inaccurate, misleading, or otherwise
objectionable. Furthermore, the craigslist site and Content available through
the Service may contain links to other websites, which are completely
independent of craigslist.  craigslist makes no representation or warranty as
to the accuracy, completeness or authenticity of the information contained
in any such site.  Your linking to any other webites is at your own risk.
You agree that you must evaluate, and bear all risks associated with, the
use of any Content, that you may not rely on said Content, and that under no
circumstances will craigslist be liable in any way for any Content or for
any loss or damage of any kind incurred as a result of the use of any Content
posted, emailed or otherwise made available via the Service. You acknowledge
that craigslist does not pre-screen or approve Content, but that craigslist
shall have the right (but not the obligation) in its sole discretion to
refuse, delete or move any Content that is available via the Service, for
violating the letter or spirit of the TOU or for any other reason.


4. THIRD PARTY CONTENT, SITES, AND SERVICES

The craigslist site and Content available through the Service may contain
features and functionalities that may link you or provide you with access
to third party content which is completely independent of craigslist,
including web sites, directories, servers, networks, systems, information
and databases, applications, software, programs, products or services,
and the Internet as a whole.

Your interactions with organizations and/or individuals found on or through
the Service, including payment and delivery of goods or services, and any
other terms, conditions, warranties or representations associated with such
dealings, are solely between you and such organizations and/or individuals.
You should make whatever investigation you feel necessary or appropriate
before proceeding with any online or offline transaction with any of these
third parties.

You agree that craigslist shall not be responsible or liable for any loss or
damage of any sort incurred as the result of any such dealings. If there is
a dispute between participants on this site, or between users and any third
party, you understand and agree that craigslist is under no obligation to
become involved. In the event that you have a dispute with one or more other
users, you hereby release craigslist, its officers, employees, agents and
successors in rights from claims, demands and damages (actual and
consequential) of every kind or nature, known or unknown, suspected and
unsuspected, disclosed and undisclosed, arising out of or in any way related
to such disputes and / or our service. If you are a California resident, you
waive California Civil Code Section 1542, which says: "A general release does
not extend to claims which the creditor does not know or suspect to exist in
his favor at the time of executing the release, which, if known by him must
have materially affected his settlement with the debtor."


5.  NOTIFICATION OF CLAIMS OF INFRINGEMENT

If you believe that your work has been copied in a way that constitutes
copyright infringement, or your intellectual property rights have been
otherwise violated, please notify craigslist's agent for notice of claims of
copyright or other intellectual property infringement ("Agent"), at

abuse@craigslist.org

or:

Copyright Agent
craigslist
1381 9th Avenue
San Francisco, CA
94122

Please provide our Agent with the following Notice:

a) Identify the material on the craigslist site that you claim is
infringing, with enough detail so that we may locate it on the website;

b) A statement by you that you have a good faith belief that the disputed
use is not authorized by the copyright owner, its agent, or the law;

c) A statement by you declaring under penalty of perjury that (1) the above
information in your Notice is accurate, and (2) that you are the owner of
the copyright interest involved or that you are authorized to act on behalf
of that owner;

d) Your address, telephone number, and email address; and

e) Your physical or electronic signature.

craigslist will remove the infringing posting(s), subject to the the procedures
outlined in the Digital Millenium Copyright Act (DMCA).


6. PRIVACY AND INFORMATION DISCLOSURE

craigslist has established a Privacy Policy to explain to users how their
information is collected and used, which is located at the following web
address:

http://www.craigslist.org/about/privacy_policy

Your use of the craigslist website or the Service signifies acknowledgement of
and agreement to our Privacy Policy. You further acknowledge and agree that
craigslist may, in its sole discretion, preserve or disclose your Content,
as well as your information, such as email addresses, IP addresses, timestamps,
and other user information, if required to do so by law or in the good faith
belief that such preservation or disclosure is reasonably necessary to:
comply with legal process; enforce the TOU; respond to claims that any
Content violates the rights of third-parties; respond to claims that contact
information (e.g. phone number, street address) of a third-party has been
posted or transmitted without their consent or as a form of harassment;
protect the rights, property, or personal safety of craigslist, its users or
the general public.


7. CONDUCT

You agree not to post, email, or otherwise make available Content:

a) that is unlawful, harmful, threatening, abusive, harassing, defamatory,
libelous, invasive of another's privacy, or is harmful to minors in any way;

b) that is pornographic or depicts a human being engaged in actual sexual conduct
including but not limited to (i) sexual intercourse, including genital-genital,
oral-genital, anal-genital, or oral-anal, whether between persons of the same or
opposite sex, or (ii) bestiality, or (iii) masturbation, or (iv) sadistic or
masochistic abuse, or (v) lascivious exhibition of the genitals or pubic area
of any person;

c) that harasses, degrades, intimidates or is hateful toward an individual or
group of individuals on the basis of religion, gender, sexual orientation,
race, ethnicity, age, or disability;

d) that violates the Fair Housing Act by stating, in any notice or ad for
the sale or rental of any dwelling, a discriminatory preference based on
race, color, national origin, religion, sex, familial status or handicap
(or violates any state or local law prohibiting discrimination on the
basis of these or other characteristics);

e) that violates federal, state, or local equal employment opportunity
laws, including but not limited to, stating in any advertisement for
employment a preference or requirement based on race, color, religion,
sex, national origin, age, or disability.

f) with respect to employers that employ four or more employees, that
violates the anti-discrimination provision of the Immigration and
Nationality Act, including requiring U.S. citizenship or lawful
permanent residency (green card status) as a condition for employment,
unless otherwise required in order to comply with law, regulation,
executive order, or federal, state, or local government contract.

g) that impersonates any person or entity, including, but not limited to, a
craigslist employee, or falsely states or otherwise misrepresents your
affiliation with a person or entity (this provision does not apply to Content
that constitutes lawful non-deceptive parody of public figures.);

h) that includes personal or identifying information about another person
without that person's explicit consent;

i) that is false, deceptive, misleading, deceitful, misinformative, or
constitutes "bait and switch";

j) that infringes any patent, trademark, trade secret, copyright or other
proprietary rights of any party, or Content that you do not have a right to
make available under any law or under contractual or fiduciary relationships;

k) that constitutes or contains  "affiliate marketing," "link referral code,"
"junk mail," "spam," "chain letters," "pyramid schemes," or unsolicited
commercial advertisement;

l) that constitutes or contains any form of advertising or solicitation if:
posted in areas of the craigslist sites which are not designated for such
purposes; or emailed to craigslist users who have not indicated in writing that
it is ok to contact them about other services, products or commercial interests.

m) that includes links to commercial services or web sites, except as allowed
in "services";

n) that advertises any illegal service or the sale of any items the sale of
which is prohibited or restricted by any applicable law, including without
limitation items the sale of which is prohibited or regulated by California
law. A partial list of prohibited items for sale and prohibited services
offered is provided at the following web address for your convenience:

http://craigslist.org/about/prohibited.items.html

o) that contains software viruses or any other computer code, files or
programs designed to interrupt, destroy or limit the functionality of any
computer software or hardware or telecommunications equipment;

p) that disrupts the normal flow of dialogue with an excessive amount of
Content (flooding attack) to the Service, or that otherwise negatively
affects other users' ability to use the Service; or

q) that employs misleading email addresses, or forged headers or otherwise
manipulated identifiers in order to disguise the origin of Content
transmitted through the Service.

Additionally, you agree not to:

r) contact anyone who has asked not to be contacted, or make unsolicited
contact with anyone for any commercial purpose;

s) "stalk" or otherwise harass anyone;

t) collect personal data about other users for commercial or unlawful
purposes;

u) use automated means, including spiders, robots, crawlers, data mining
tools, or the like to download data from the Service - unless expressly
permitted by craigslist;

v) post non-local or otherwise irrelevant Content, repeatedly post the
same or similar Content or otherwise impose an unreasonable or
disproportionately large load on our infrastructure;

w) post the same item or service in more than one classified category or
forum, or in more than one metropolitan area;

x) attempt to gain unauthorized access to craigslist's computer systems or
engage in any activity that disrupts, diminishes the quality of, interferes
with the performance of, or impairs the functionality of, the Service or
the craigslist website; or

y) use any form of automated device or computer program that enables the
submission of postings on craigslist without each posting being manually
entered by the author thereof (an "automated posting device"), including
without limitation, the use of any such automated posting device to submit
postings in bulk, or for automatic submission of postings at regular intervals.

z) use any form of automated device or computer program ("flagging tool")
that enables the use of craigslist's "flagging system" or other community
moderation systems without each flag being manually entered by the person
that initiates the flag (an "automated flagging device"), or use the
flagging tool to remove posts of competitors, or to remove posts without a
good faith belief that the post being flagged violates these TOU;

8. POSTING AGENTS

A "Posting Agent" is a third-party agent, service, or intermediary
that offers to post Content to the Service on behalf of others. To
moderate demands on craigslist's resources, you may not use a Posting
Agent to post Content to the Service without express permission or
license from craigslist.  Correspondingly, Posting Agents are not
permitted to post Content on behalf of others, to cause Content to
be so posted, or otherwise access the Service to facilitate posting
Content on behalf of others, except with express permission or
license from craigslist.


9. NO SPAM POLICY

You understand and agree that sending unsolicited email advertisements to
craigslist email addresses or through craigslist computer systems, which is
expressly prohibited by these Terms, will use or cause to be used servers
located in California.  Any unauthorized use of craigslist computer systems
is a violation of these Terms and certain federal and state laws, including
without limitation the Computer Fraud and Abuse Act (18 U.S.C. รยง 1030 et
seq.), Section 502 of the California Penal Code and Section 17538.45 of the
California Business and Professions Code.  Such violations may subject the
sender and his or her agents to civil and criminal penalties.


10. PAID POSTINGS

We may charge a fee to post Content in some areas of the Service. The fee
is an access fee permitting Content to be posted in a designated area.
Each party posting Content to the Service is responsible for said Content
and compliance with the TOU. All fees paid will be non-refundable in the
event that Content is removed from the Service for violating the TOU.


11. LIMITATIONS ON SERVICE

You acknowledge that craigslist may establish limits concerning use of the
Service, including the maximum number of days that Content will be retained
by the Service, the maximum number and size of postings, email messages, or
other Content that may be transmitted or stored by the Service, and the
frequency with which you may access the Service. You agree that craigslist
has no responsibility or liability for the deletion or failure to store any
Content maintained or transmitted by the Service. You acknowledge that
craigslist reserves the right at any time to modify or discontinue the
Service (or any part thereof) with or without notice, and that craigslist
shall not be liable to you or to any third party for any modification,
suspension or discontinuance of the Service.


12. ACCESS TO THE SERVICE

craigslist grants you a limited, revocable, nonexclusive license to access
the Service for your own personal use.  This license does not include:
(a) access to the Service by Posting Agents; or (b) any collection,
aggregation, copying, duplication, display or derivative use of the Service
nor any use of data mining, robots, spiders, or similar data gathering and
extraction tools for any purpose unless expressly permitted by craigslist.
A limited exception to (b) is provided to general purpose internet search
engines and non-commercial public archives that use such tools to gather
information for the sole purpose of displaying hyperlinks to the Service,
provided they each do so from a stable IP address or range of IP addresses
using an easily identifiable agent and comply with our robots.txt file.
"General purpose internet search engine" does not include a website or
search engine or other service that specializes in classified listings
or in any subset of classifieds listings such as jobs, housing, for sale,
services, or personals, or which is in the business of providing classified
ad listing services.

craigslist permits you to display on your website, or create a hyperlink
on your website to, individual postings on the Service so long as such use
is for noncommercial and/or news reporting purposes only (e.g., for use in
personal web blogs or personal online media).  If the total number of such
postings displayed or linked to on your website exceeds one hundred (100)
postings, your use will be presumed to be in violation of the TOU,
absent express permission granted by craigslist to do so.  You may also
create a hyperlink to the home page of craigslist sites so long as the
link does not portray craigslist, its employees, or its affiliates in a
false, misleading, derogatory, or otherwise offensive matter.

craigslist offers various parts of the Service in RSS format so that users
can embed individual feeds into a personal website or blog, or view postings
through third party software news aggregators.  craigslist permits you to
display, excerpt from, and link to the RSS feeds on your personal website
or personal web blog, provided that (a) your use of the RSS feed is for
personal, non-commercial purposes only, (b) each title is correctly linked
back to the original post on the Service and redirects the user to the
post when the user clicks on it, (c) you provide, adjacent to the RSS
feed, proper attribution to 'craigslist' as the source, (d) your use or
display does not suggest that craigslist promotes or endorses any third
party causes, ideas, web sites, products or services, (e) you do not
redistribute the RSS feed, and (f) your use does not overburden
craigslist's systems.  craigslist reserves all rights in the content of
the RSS feeds and may terminate any RSS feed at any time.

Use of the Service beyond the scope of authorized access granted to you by
craigslist immediately terminates said permission or license.  In order to
collect, aggregate, copy, duplicate, display or make derivative use of the
the Service or any Content made available via the Service for other
purposes (including commercial purposes) not stated herein, you must first
obtain a license from craigslist.


13. TERMINATION OF SERVICE

You agree that craigslist, in its sole discretion, has the right (but not
the obligation) to delete or deactivate your account, block your email or IP
address, or otherwise terminate your access to or use of the Service (or any
part thereof), immediately and without notice, and remove and discard any
Content within the Service, for any reason, including, without limitation,
if craigslist believes that you have acted inconsistently with the letter or
spirit of the TOU. Further, you agree that craigslist shall not be liable
to you or any third-party for any termination of your access to the Service.
Further, you agree not to attempt to use the Service after said termination.
Sections 2, 4, 6 and 10-16 shall survive termination of the TOU.


14. PROPRIETARY RIGHTS

The Service is protected to the maximum extent permitted by copyright laws
and international treaties. Content displayed on or through the Service is
protected by copyright as a collective work and/or compilation, pursuant to
copyrights laws, and international conventions. Any reproduction,
modification, creation of derivative works from or redistribution of the
site or the collective work, and/or copying or reproducing the sites
or any portion thereof to any other server or location for further
reproduction or redistribution is prohibited without the express
written consent of craigslist. You further agree not to reproduce,
duplicate or copy Content from the Service without the express written
consent of craigslist, and agree to abide by any and all copyright notices
displayed on the Service. You may not decompile or disassemble, reverse
engineer or otherwise attempt to discover any source code contained in the
Service. Without limiting the foregoing, you agree not to reproduce,
duplicate, copy, sell, resell or exploit for any commercial purposes, any
aspect of the Service. CRAIGSLIST is a registered mark in the U.S. Patent
and Trademark Office.

Although craigslist does not claim ownership of content that its users post,
by posting Content to any public area of the Service, you automatically
grant, and you represent and warrant that you have the right to grant, to
craigslist an irrevocable, perpetual, non-exclusive, fully paid, worldwide
license to use, copy, perform, display, and distribute said Content and to
prepare derivative works of, or incorporate into other works, said Content,
and to grant and authorize sublicenses (through multiple tiers) of the
foregoing. Furthermore, by posting Content to any public area of the Service,
you automatically grant craigslist all rights necessary to prohibit any
subsequent aggregation, display, copying, duplication, reproduction, or
exploitation of the Content on the Service by any party for any purpose.


15. DISCLAIMER OF WARRANTIES

YOU AGREE THAT USE OF THE CRAIGSLIST SITE AND THE SERVICE IS ENTIRELY AT
YOUR OWN RISK. THE CRAIGSLIST SITE AND THE SERVICE ARE PROVIDED ON AN "AS
IS" OR "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND.  ALL
EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE
FULLEST EXTENT PERMITTED BY LAW.  TO THE FULLEST EXTENT PERMITTED BY LAW,
CRAIGSLIST DISCLAIMS ANY WARRANTIES FOR THE SECURITY, RELIABILITY,
TIMELINESS, ACCURACY, AND PERFORMANCE OF THE CRAIGSLIST SITE AND THE
SERVICE.  TO THE FULLEST EXTENT PERMITTED BY LAW, CRAIGSLIST DISCLAIMS ANY
WARRANTIES FOR OTHER SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE
CRAIGSLIST SITE OR THE SITES OR SERVICE, OR ACCESSED THROUGH ANY LINKS ON
THE CRAIGSLIST SITE.  TO THE FULLEST EXTENT PERMITTED BY LAW, CRAIGSLIST
DISCLAIMS ANY WARRANTIES FOR VIRUSES OR OTHER HARMFUL COMPONENTS IN
CONNECTION WITH THE CRAIGSLIST SITE OR THE SERVICE.  Some jurisdictions do
not allow the disclaimer of implied warranties.  In such jurisdictions, some
of the foregoing disclaimers may not apply to you insofar as they relate to
implied warranties.


16. LIMITATIONS OF LIABILITY

UNDER NO CIRCUMSTANCES SHALL CRAIGSLIST BE LIABLE FOR DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF CRAIGSLIST
HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM ANY
ASPECT OF YOUR USE OF THE CRAIGSLIST SITE OR THE SERVICE, WHETHER THE
DAMAGES ARISE FROM USE OR MISUSE OF THE CRAIGSLIST SITE OR THE SERVICE, FROM
INABILITY TO USE THE CRAIGSLIST SITE OR THE SERVICE, OR THE INTERRUPTION,
SUSPENSION, MODIFICATION, ALTERATION, OR TERMINATION OF THE CRAIGSLIST SITE
OR THE SERVICE.  SUCH LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES
INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED THROUGH OR
ADVERTISED IN CONNECTION WITH THE CRAIGSLIST SITE OR THE SERVICE OR ANY
LINKS ON THE CRAIGSLIST SITE, AS WELL AS BY REASON OF ANY INFORMATION OR
ADVICE RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE CRAIGSLIST SITE
OR THE SERVICE OR ANY LINKS ON THE CRAIGSLIST SITE.  THESE LIMITATIONS SHALL
APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. In some jurisdictions,
limitations of liability are not permitted.  In such jurisdictions, some of
the foregoing limitation may not apply to you.


17. INDEMNITY

You agree to indemnify and hold craigslist, its officers, subsidiaries,
affiliates, successors, assigns, directors, officers, agents, service
providers, suppliers and employees, harmless from any claim or demand,
including reasonable attorney fees and court costs, made by any third party
due to or arising out of Content you submit, post or make available through
the Service, your use of the Service, your violation of the TOU, your
breach of any of the representations and warranties herein, or your
violation of any rights of another.


18. GENERAL INFORMATION

The TOU constitute the entire agreement between you and craigslist and
govern your use of the Service, superceding any prior agreements between you
and craigslist. The TOU and the relationship between you and craigslist
shall be governed by the laws of the State of California without regard to
its conflict of law provisions. You and craigslist agree to submit to the
personal and exclusive jurisdiction of the courts located within the county
of San Francisco, California. The failure of craigslist to exercise or
enforce any right or provision of the TOU shall not constitute a waiver of
such right or provision. If any provision of the TOU is found by a court
of competent jurisdiction to be invalid, the parties nevertheless agree that
the court should endeavor to give effect to the parties' intentions as
reflected in the provision, and the other provisions of the TOU remain in
full force and effect. You agree that regardless of any statute or law to
the contrary, any claim or cause of action arising out of or related to use
of the Service or the TOU must be filed within one (1) year after such
claim or cause of action arose or be forever barred.


19. VIOLATION OF TERMS AND LIQUIDATED DAMAGES

Please report any violations of the TOU, by flagging the posting(s) for
review, or by emailing to:

abuse@craigslist.org

Our failure to act with respect to a breach by you or others does not waive our
right to act with respect to subsequent or similar breaches.

You understand and agree that, because damages are often difficult to quantify,
if it becomes necessary for craigslist to pursue legal action to enforce these
Terms, you will be liable to pay craigslist the following amounts as liquidated
damages, which you accept as reasonable estimates of craigslists' damages for
the specified breaches of these Terms:

a. If you post a message that (1) impersonates any person or entity; (2)
falsely states or otherwise misrepresents your affiliation with a person or
entity; or (3) that includes personal or identifying information about
another person without that person's explicit consent, you agree to pay
craigslist one thousand dollars ($1,000) for each such message.
This provision does not apply to Content that constitutes lawful non-deceptive
parody of public figures.

b. If craigslist establishes limits on the frequency with which you may
access the Service, or terminates your access to or use of the Service, you
agree to pay craigslist one hundred dollars ($100) for each message posted
in excess of such limits or for each day on which you access craigslist in
excess of such limits, whichever is higher.

c. If you send unsolicited email advertisements to craigslist email
addresses or through craigslist computer systems, you agree to pay
craigslist twenty five dollars ($25) for each such email.

d. If you post Content in violation of the TOU, other than as described
above, you agree to pay craigslist one hundred dollars ($100) for each
Item of Content posted.  In its sole discretion, craigslist may elect
to issue a warning before assessing damages.

e. If you are a Posting Agent that uses the Service in violation of the
TOU, in addition to any liquidated damages under clause (d), you agree to
pay craigslist one hundred dollars ($100) for each and every Item you post
in violation of the TOU.  A Posting Agent will also be deemed an agent of
the party engaging the Posting Agent to access the Service (the
"Principal"), and the Principal (by engaging the Posting Agent in
violation of the TOU) agrees to pay craigslist an additional one hundred
dollars ($100) for each Item posted by the Posting Agent on behalf of
the Principal in violation of the TOU.

f. If you aggregate, display, copy, duplicate, reproduce, or otherwise
exploit for any purpose any Content (except for your own Content) in
violation of these Terms without craigslist's express written permission,
you agree to pay craigslist three thousand dollars ($3,000) for each day
on which you engage in such conduct.

Otherwise, you agree to pay craigslist's actual damages, to the extent such
actual damages can be reasonably calculated. Notwithstanding any other
provision of these Terms, craigslist retains the right to seek the remedy
of specific performance of any term contained in these Terms, or a preliminary
or permanent injunction against the breach of any such term or in aid of the
exercise of any power granted in these Terms, or any combination thereof.


20. FEEDBACK

We welcome your questions and comments on this document in the craigslist
feedback forum:

http://forums.craigslist.org/?forumID=8

